i.iconRadio_on {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('@/assets/icons/shopping/radio_active.svg') 50% / 20px no-repeat;
}

i.iconRadio {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('@/assets/icons/shopping/radio.svg') 50% / 20px no-repeat;
}

i.delete {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('@/assets/icons/shopping/delete.svg') 50% / 20px no-repeat;
}