@use '../../color.scss' as * ;

.fullScreenDialog {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0px;
  left: 0px;
  bottom: -100%;
  background-color: $white;
  transition: bottom 1s linear;
  &.active{
    animation: slideUpDialog .2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
  
  .box {
    width: 100%;
    height: 100%;
    .head {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      border-bottom: 1px solid $alto;
      i {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
      }
    }
    .body{
      padding: 10px;
      overflow: auto;
      position: relative;
    }
  }
}


@keyframes slideUpDialog {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}