@use '../../color' as *;
.consigneeManagement {
  .head {
    width: 100%;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid $alto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    .backIcon {
      width: 44px;
      height: 44px;
      background: url('@/assets/icons/shopping/next_arrow.png') 50% / 20px no-repeat;
    }
    .addBtn {
      font-size: 15px;
      color: $mine-shaft;
      font-weight: 500;
      margin-right: 20px;
    }
  }
  .loadingMap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loadingText {
    font-size: 12px;
    color: white;
  }
  .noDataText {
    margin-top: 200px;
    font-size: 18px;
  }
}

.consigneeList {
  ul {
    list-style: none;
    background-color: $background;
    min-height: 100vh;
    list-style-type: none;
    padding: 10px 0;
    margin-bottom: 60px;
    .consigneeItem {
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      padding: 15px 10px;
      margin: 10px 10px;
      border-radius: 8px;
      .left {
        .top {
          display: flex;
          margin-bottom: 5px;
          font-weight: bold;
          > span {
            margin-right: 5px;
          }
          .name{
            margin-right: 5px;
          }
          .defaultText{
            color: red;
          }
        }
        .mobile, .fullAddress{
          font-size: 14px;
          font-weight: bold;
          color: $sliver;
        }
      }
      .right {
      }
    }
  }
}

.gray{
  color : $sliver;
}


